<!-- Página dedicada à base da navbar -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
          Base
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('index') }}">GORILLA<span>.</span></a>
        </div>

        <nav class="navbar">

            {% if request.endpoint != 'produto' %}
                <a href="{{ url_for('produto') }}" id="produto">Produtos</a>
            {% endif %}
            {% if request.endpoint != 'carrinho' %}
                <a href="{{ url_for('carrinho') }}">Carrinho</a>

            <a href="{{ url_for('produto') }}" id="produto">Produtos</a>
            <a href="{{ url_for('carrinho') }}">Carrinho</a>
            {% endif %}
            {% if current_user.is_authenticated %}
                <!-- Se o usuário estiver logado -->
                <span class="user-logado">Olá, {{ current_user.nome }}!</span>
                <a href="{{ url_for('logout') }}">Sair</a>
            {% else %}
                <!-- Se o usuário não estiver logado -->
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('cadastro') }}">Cadastro</a>

            {% endif %}
        </nav>

    </header>


</body>
</html>
