
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - GORILLA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">GORILLA<span>.</span></div>
        <nav class="navbar">

        </nav>
    </header>
    {%if login%}
        <p> deu certo</p>

    {% else %}
        <p style = margin-top:50px> Olá, você não estar cadastrado. Faça seu cadastro aqui 👇</p>
    {% endif %}

    <div class="container">
        <div class="main">
            <div class="logar">
                <form action="{{ url_for('cadastro') }}" method="POST">
                    <label for="nome">Digite seu nome:</label>
                    <input type="text" name="nome" id="nome" placeholder="Nome" required>

                    <label for="senha">Digite sua senha:</label>
                    <input type="password" name="senha" id="senha" placeholder="Senha" required>

                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>


</body>
</html>
