{%extends 'base.html'%}

{%block title%}
    Página Inicial
{%endblock%}

{% block conteudo%}

<link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap" rel="stylesheet">

 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<body>
<section class="hero">
    <h1>Força de verdade começa com <span>GORILLA</span></h1>
    <p>Suplementos de alta performance para quem não aceita limites.</p>
    <br>
    <a href="{{url_for('produto')}}" class="btn btn-primary">Comprar agora</a>
</section>
    
<section class="cards">
    <div class="card">
        <h2>💪 Suplementos Premium</h2>
        <p>Proteína, creatina, pré-treino e mais com máxima qualidade.</p>
    </div>
    <div class="card">
        <h2>✅ Testado e Aprovado</h2>
        <p>Produtos certificados por profissionais da área esportiva.</p>
    </div>
    <div class="card">
        <h2>🛒 Compra Segura</h2>
        <p>Entregamos para todo o Brasil com segurança e agilidade.</p>
    </div>
    </section>
    
{%endblock%}
