{% extends 'base.html' %}

{% block title %}
    Sessão Produtos
{% endblock %}

{% block conteudo %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/produto.css') }}">

<div class="container">
    <div class="main">
        <div class="boxs">

            {% for p in produtos %}
            <div class="box-1">
                <div class="img">
                    <img src="{{ url_for('static', filename=p.imagem) }}" alt="{{ p.nome }}">
                </div>
                <div class="prod-1">
                    <h2>{{ p.nome }}</h2>
                    <h3>R$ {{ p.preco }}</h3>
                    <a href="{{ url_for('adicionar_ao_carrinho', id_produto=p.id) }}" class="btn">
                        Adicionar ao carrinho
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}
